.box-calculadora{
    width: 75%;
    padding: .5em;
    margin-top: 10px;
    background-color: #cfcece;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 1.2em;
}
#container h1{
    color: #070707;
}
#operacoes{
    text-align: right;
}
#previos-operation,
#visor{
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}
#previos-operation{
    color: #777;
}
#visor{
    font-size: 3em;
    font-weight: 700;
}
#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#buttons-container button{
    border-radius: 0;
    height: 3em;
    font-size: 1em;
    background-color: #dbdbdb;
    cursor: pointer;
}
#buttons-container .number {
    background-color: #f3f3f3;
}
#buttons-container button:hover {
    background-color: #bababa;
    border-color: #999;
}
#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #75a5cb; 
}
#buttons-container #equal-btn:hover {
    grid-column: span 2;
    background-color: #3a91d8; 
}