.box-gorjeta{
    width: 75%;
    padding: .5em;
    background-color: #cfcece;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 1.2em;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.box-inputs{
    display: flex;
    align-items: center;
    width: 380px;
    justify-content: space-between;
}
input, select{
    width: 110px;
    padding: 7px;
    border-radius: 12px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
select{
    width: 150px;
}
option{
    padding: 9px;
    font-size: 1.1em;   
}
.title{
    text-align: center;
    margin-bottom: 15px;
}

button{
    padding: 12px;
    /* margin-left: 17px; */
}
#gorjeta{
    background-color: rgba(160, 241, 38, 0.87);
    border: 2px dashed black;
    padding: 7px;
    font-size: 1.2em;    
}